<div class="text-center bg-white">
  <%= image_tag 'black.jpg', size: "100x100", class:"rounded-circle mt-3" %>
  <h4 class="mt-3">Uehara.Y</h4>
  <hr class="profile-line">
  <p class="profile-context mb-5">
  ここでは紹介文を書きます/
  ああああああああああああ
  ああああああああああああ
  ああああああああああああ
  ああああああああああああ
  ああああああああああああ</p>
</div>