<div class="wrapper bg-white pb-3 mb-5">
<div class="top-wrapper text-center">
  <p class="date">2021/7/28<p>
  <h1 class="top-title">サイトについて</h1>
</div>
<div class="main-wrapper m-3">
  <p>知識ゼロの状態から難関私立大学に受かるまでの道筋を紹介しています。
  期間は1年間を目安にスケジュールを組んでいます。そのため「高校を卒業し
  たけど大学に進みたい！でも、時間がない！」と思っている人でも気軽にチ
  ャレンジできるカリキュラムです。1年で理系科目を完璧するのは非常にハー
  ドなので、文系科目を中心に紹介してきます。理系で大学に進みたい方は別
  のサイトを参考にしていただけると幸いです。</p>
  <p class="sub-title">そもそも知識ゼロの状態で難関私立大学に受かるのか？</p>
  <p>※このサイトでは、難関私立大学の定義をMARCH、関関同立以上の大学として考えています。
  大学群に関して知らない方は以下のサイトを参考にしてください。<p>
  </p>
  <p><a href="https://f-ran.com/define/daigakugun/">大学群名称 レベルランキング</a></p>
  <p>簡単にいうと、レベル的には青山学院大学や明治大学などの有名大学以上ということです。
  このレベルの大学に進学するためには、ある程度、子供の頃から勉強の習慣がないと厳しいと思います。
  自分はこのレベルの大学に通っているのですが、周りの学生は一様に「子供の頃から有名な塾に通って、
  勉強するのが当たり前だった」と言っています。高校の偏差値について聞くと、偏差値55以上がスタンダードです。
  なので、高校の偏差値55以下で、勉強する習慣がない人にとっては、非常に困難な挑戦となるわけです。</p>
  <p>しかし、実際には高校の偏差値が低くても、難関私立大学に受かっている者もいます。
  あまり自分について話すのは好きではないのですが、自分は偏差値40の商業高校から難関私立大学に
  合格することができました。自分は小学生の頃から勉強する習慣がなく、普段はずっと漫画を読んだり
  ゲームばかりしているような、怠惰な人間だったので「自分は勉強できる人とは全く違う世界にいるんだ」
  と勝手に線引きしていました。中学生の頃は不登校で、2年以上学校に行っておらず、義務教育が不十分だ
  ったため、商業高校に進みましたが、あまりにも成績が悪く、先生から度々説教されていました。しかし、
  このような私でも、奇跡的に難関私立大学に受かることができたのです。私のように日本が喋れないレベルで、
  義務教育が不十分なレベルの人は全体のうち数%しかいないと思うので、この記事を見ている偏差値50以下の人でも、
  努力次第では、まだ希望があると思います。正しい勉強法で進めていけば確実に偏差値は上がります。
  どんな人であってもです。本サイトでは、実際に私が取り組んだ参考書を紹介しています。是非、皆さんには、
  この記事を参考にしていただいて、自分の将来の仕事の幅を広げて欲しいと思っています。
</p>
<p class="sub-title">できれば予備校に行きましょう</p>
<p>このサイトは、独学で難関私立大学に受かる方法について紹介しています。
  なので、ルートだけ進めていれば、大学受験予備校に通わなくても受かる可能性はあると思います。
  とはいえ、お金があるのに予備校に通わないのはもったいないです。有名講師から教わった方が、
  理解のスピードが早く、復習しやすいという利点があると思うので、もし親御さんに余裕があるようでしたら、
  こちらで紹介されている予備校に通うことをお勧めします。</p>
<p><a href="https://shingaku.jdnet.jp/college/rank5.html">比較ナビ</a></p>
<p>現役でしたら、東進の映像ストリーミングを受講し、英語か国語の授業を買うといいでしょう。
  世界史や日本史についてはYoutubeの動画教材があるので、他で買う必要はありません。
  チューターに勧められても断るようにしましょう。</p>
<p>浪人であれば、河合塾がトップレベルの合格実績を出しているので、文系でしたら河合塾をお勧めいたします。
  ただ、入塾テストによってクラスが別れてしまうので、入塾する前にある程度標準的なレベルはおさえておく
  必要があると思います。目安として、日東駒専レベルは到達するようにしましょう。本サイトの勉強法を参考にして、
  対策してください。</p>
<p class="sub-title">スタディサプリを利用するのもアリ</p>
<p>このサイトで紹介されているルートを参考にしたが、うまくいかない、
または参考書の解説を読むのが面倒と感じた場合は、スタディサプリを利用すること
をお勧めします。スタディサプリは映像授業ですが、有名な英語の参考書の著者である
関正生の授業を受けることができます。そのため、予備校に通うのと同じくらいの効果を
発揮することができます。スタディサプリのベーシックコースなら、月額2178円から始め
られるので、予備校に通うよりは安く済ませることができます。本サイトのルートが合わ
ない場合は、こちらを利用するのをお勧めします。
</p>
<p><a href="https://studysapuri.jp/">スタディサプリ</a></p>
<p class="sub-title">お問い合わせについて</p>
<p>本サイトでは、お問い合わせページを設けておりますので、
受験でわからないことがあればお気軽にご相談ください。
感想や改善してほしい点など、みなさまからのフィードバック
をお待ちしております。
</p>
</div>
</div>