<div class="wrapper bg-white pb-3 mb-5">
<div class="subjects p-5">
  <h2>科目一覧</h2>
    <ul>
      <li><p><%= link_to "英語", subjects_english_path %></p></li>
      <li><p><%= link_to "国語", subjects_language_path %></p></li>
      <li><p><%= link_to "世界史", subjects_histroy_path %></p></li>
    </ul>
</div>
</div>