<div class="wrapper bg-white pb-3 mb-5">
  <div class="top-wrapper text-center">
    <p class="date">2021/7/29</p>
    <h1 class="top-title">英語勉強法</h1>
  </div>
  <div class="main-wrapper m-3">

<p class="sub-title">はじめに</p>
<p>今回のコラムでは「英語の勉強をし始めたが、参考書のレベルが難しい...」「どこから手をつければ良いのかわからない...」英語を勉強したばかりの高校生や浪人生はこんな不安を抱えていると思います。そこで、みなさんに英語の勉強法を紹介したいと思います。私自身も、受験生の時はどのように進めていいかわからず、参考書を買っては売り、買っては売りを繰り返していました。それゆえ、なかなか自分に見合った参考書が見つけられず、手詰まりな状況になったことがあります。また、ネットで探したわかりやすい参考書を買っても、進めるのがめんどくさいと感じてしまったりして、継続的に参考書を進めることができない問題がありました。このような悩みを抱える受験生は非常に多いと思います。そこで、そんなみなんに向けて「誰でも」簡単に扱える最高な英語教材と無理なく進められる英語勉強法を紹介したいと思います！</p>

<p class="subtitle">学習の流れ</p>

<p>以下では、10ヶ月で有名大学(MARCHや関関同立など)に受かるためのスケジュールを紹介します。1日2時間を想定して作成しておりますので、無理なく進められるかと思います。</p>

<p class="text-center"><%= image_tag 'en-sche.png', size: "600x200", class: "" %><p>

<p>4つの列で1ヶ月ごとに学習すべき参考書を並べました。単語の学習では「English = 英語」のように英単語の意味を学んでいきます。文法では、英文の形を作るルールを学んでいきます。英文解釈というと、あまり聴き慣れない言葉だと思われますが、こちらについては短い英文構造を分析しながら日本語に訳していきます。しばしば英文解釈は必要ないと議論されていますが、MARCHレベルの英語となってくると、複雑な形の英文に出会うことが頻繁にあります。そのため、あらかじめ英文解釈に慣れていれば、どんな文章でも対応できるようになるでしょう。スキップせずにやってみてください。英語長文については、英語で書かれた長文を読んで、問題を解いていきます。昨今では、英語長文の比重が大きくなっている傾向にあるので、毎日のように英語長文に取り組み、読解力を伸ばす訓練が必要になるでしょう。</p>


<p>続いて、詳しい学習のスケジュールについて見ていきます。</p>

<p>1ヶ月〜2ヶ月：英単語帳ターゲット1900を2周/2ヶ月、基礎的な文法を動画配信サイトで紹介しているただよびの基礎英文法講座を2周/2ヶ月します。ここで英語の基礎を学びます。</p>

<p>3ヶ月〜4ヶ月：Vintageと呼ばれる文法書を使って本格的に英文法を学んでいきます。並行して、東進レベル別問題集(1,2)を2周/1ヶ月して簡単な長文に触れていきます。単語帳については「反射的に答えられるようになるまで」復習してみてください。4ヶ月目が順調に終了すると大東亜帝国レベル(偏差値40レベル)を突破することができます。</p>

<p>5ヶ月〜6ヶ月：英文解釈では、入門英文問題精講を使って日東駒専レベルの長文に挑戦するための土台を作ります(2周/2ヶ月)。単語については、上の表に「Vinイディオム」と記載されていますが、Vintageに掲載されているイディオムの項目を指しています。5ヶ月目からはこちらを使ってイディオムを暗記していきます。また、上の表に「+1900」と記載されていますが、ターゲット1900という意味になります。イディオムの暗記ばかりしていると単語の学習が疎かになるので、こちらも忘れずに復習するようにしてください。長文については3ヶ月目〜4ヶ月目と同じ要領で、東進レベル別問題集(3,4)を進めてください。6ヶ月目で順調に参考書が終われば、日東駒専レベル(偏差値50〜55のレベル)を突破できます。</p>

<p>※ イディオムというのは、複数の単語が結びついて一つの意味を表すものです。例えば、「give up」や「run away」などが該当します。</p>

<p>7ヶ月〜8ヶ月：単語と文法については5ヶ月目〜6ヶ月目を参考にして進めてください。長文については東進レベル別問題集(5,6)に挑戦していきます。このレベルになると難しくなってくるので「TopGrade難関大突破問題精選」を使っていきます。こちらの問題の難易度は相当難しいと言われていますが、英文解釈本の中でも解説は最も詳しい参考書と言われています。自分はこれを使って学習していたのですが、複雑な構造の文章でも簡単に読むことができるようになりました。たびたび「ポレポレ」や「英文解釈の技術100」などを紹介するウェブサイトや動画がありますが、自分はこの2冊を買って挫折しています(笑)「TopGrade難関大突破問題精選」はレベルでいうと、この2冊とそこまで大きな差はないので、英文解釈本で迷っている方がいましたら、断然こっちをお勧めします。8ヶ月目まで順調に参考書が進めば、MARCHレベル(偏差値55〜63のレベル)を突破できます。</p>

<p>9ヶ月〜10ヶ月：最後の仕上げとして過去問学習に入ります。ここでは「知識の漏れがないか確認すること」「繰り返し問題を解いて問題に慣れること」を行っていきます。例えば、英作文の問題や要約の問題などが、志望している大学の過去問から出題されているかを確認します。もし、このような問題が問われているのであれば、別途参考書を買って対策をする必要があるでしょう。次に「問題に慣れる」というのは「自分なりの問題の解き方を見つける」と言い換えられます。過去問を何周もしていると、自分にあった最適な解き方を見つけることができると思います。例えば「長文から解いた方が得点が上がりやすい」「問題文を読むだけで長文の内容を掴むことができるので、長文は読む必要がない」など、繰り返えし過去問を分析していると解き方が見えてきます。筆者自身も自分なりのテクニックを使って志望校に合格しています。非常にお勧めなやり方なので、是非やってみてください。</p>

<p>ここまで学習の流れについて説明しましたが、よくわからなかった方もいらっしゃると思います。大丈夫です。次に各参考書の詳しい使い方について解説していこうと思います。</p>

<p class="sub-title">参考書の使い方</p>



<p><a href="https://www.amazon.co.jp/%E8%8B%B1%E5%8D%98%E8%AA%9E%E3%82%BF%E3%83%BC%E3%82%B2%E3%83%83%E3%83%881900-6%E8%A8%82%E7%89%88-%E5%A4%A7%E5%AD%A6JUKEN%E6%96%B0%E6%9B%B8-%E3%82%BF%E3%83%BC%E3%82%B2%E3%83%83%E3%83%88%E7%B7%A8%E9%9B%86%E9%83%A8/dp/4010346469">(1) 英単語ターゲット1900</a></p>

<p>英単語ターゲット1900 おすすめの勉強法：</p>

<p>① 左ページの単語を読み、すぐさま右側にある単語の意味を読む。</p>
<p>例えば「provide」という単語があったら、声に出して「プロヴァイド」と読む。すぐさま、右側にある意味「提供する」と声に出して読む。度々、声に出して読む必要あるの？と聞かれるのですが、これは「英単語と日本語の意味を頭の中で結びつけるために必要だから」です。テンポよく発音→意味→発音→意味と繰り返していると、自然と英単語だけを見て、日本語が浮かんでくるようになります。なので、左ページの1ページ(6個か7個ほど)に書かれている単語を40%くらい覚えられるまで、発音と意味を繰り返し音読してください。</p>

<p>② 今度は赤シートを使って、単語の意味を隠しながら、左ページの単語の意味が全て言えるようになるまで繰り返し暗記作業をしてください。
例えば「provide」という単語があったら、声に出して「プロヴァイド」と読む。右側は赤シートで単語の意味が隠れています。先程、声に出して覚えた日本語の意味を思い出して「提供する」と声に出して読んでください。もし、単語の意味を一つでも忘れていたら、もう一度、赤シートで隠しながら日本語の意味の確認を行なっていきます。赤シートで隠して日本語の意味が全て言えるようになるまで繰り返し音読してください。</p>

<p>③ 1日100単語暗記するのがお勧めです。(※上記のスケジュールは一日100単語を目安に作られています。)やり方①と②を繰り返して100単語まで到達したら終了です。</p>


<p>英単語ターゲット1900復習方法について</p>

<p>2日進んで1日戻るという形式で進んでいきます。1日100単語暗記することを前提すると、2日で200単語になるので、2日で200単語進んで、3日目に200単語を復習します。同様に4日目と5日目で200単語進めて、6日目に200単語を復習してください。7日目には、400単語を復習して、全ての単語が言えるかチェックしてみてください。</p>

<p>復習のやり方は②を参考にして行ってください。左ページのすべての単語が言えるようになるまで、次のページには進まずに暗記作業を行ってください。</p>

<p>1週間で合計400単語暗記することになるので、約1ヶ月で1900単語に達することができます。しかし、1週だけでは全ての単語は覚えられません。単語帳を何周も何周も繰り返してようやく全ての単語を暗記できた状態になります。「反射的に全ての単語の意味が答えられるようになるまで」繰り返し復習してみてください。</p>

<p>補足ですが、音声ファイルがweb上からダウンロードできます。、そちらも利用して、リズムよく発音→意味→発音→意味を繰り返していると、ネイティブの方の音声が耳に残り、発音で間違えることがなくなるので、お勧めです。</p>


<hr>
<p><a href="https://www.youtube.com/watch?v=GUSk9_eHUwE&list=PLt4g_MlAkmOoEb_Ryddzu4oendBPJPX1w">(2) ただよび ベーシック文系 基礎英文法講座</a></p>

<p>ただよび ベーシック文系 基礎英文法講座 おすすめの勉強法：<p>

<p>動画視聴を視聴しながらノートを取ります。動画では例文の解説が行われるので、例文と先生の解説をノートに書いてください。動画が終了後、動画で紹介されている例文を自分で説明できるかチェックしてみてください。例えば、自動詞の後ろに名詞を置くには前置詞が必要だから「We go to the museum.」には「to」が必要であるというように、例文の説明をして必ずアウトプットを行うことをお勧めします。例文の解説ができる + 日本語に訳せる状態になったら、例文を暗記しましょう。お勧めは繰り返し音読することです。「例文音読→日本語訳」といった形で音読してください。復習方法については時間が空いている時に例文を音読していただければ大丈夫です。とにかく例文を暗記できるように努めてください。</p>

<p>※ 例文を音読することによって、文法や単語をリズムで覚えることができます。このリズムが頭に残っていると、文法問題や長文問題を解く際に非常に解きやすくなります。</p>

<p>ペースは「1日動画を4つみる」という形で進めていくことをお勧めします。このペースだと、忙しくても1ヶ月で終わると思います。動画を1周するだけだと完全に理解できたとは言い難いので、もう1周を約1ヶ月間行ってください。2ヶ月目で簡単な文法には相当強くなっていると思います。2周目も1周目と同様に上記の勉強法を参考にして進めてください。</p>


<hr>
<p><a href="https://www.amazon.co.jp/%E8%8B%B1%E6%96%87%E6%B3%95%E3%83%BB%E8%AA%9E%E6%B3%95Vintage-%E7%AF%A0%E7%94%B0-%E9%87%8D%E6%99%83/dp/4864601224">(3) 英文法・語法Vintage</a></p>

<p>受験に最低限必要な英文法・語法を完全に網羅している参考書になります。文法系の参考書で有名なネクストステージやパワーステージよりも解説が詳しく、受験からも非常に人気です。自分もこの参考書を使って塾で授業をしているのですが、群を抜くほどの使いやすさだと思います。文法書に迷っている方がいましたら、こちらをお勧めしたいです。</p>

<p>英文法・語法Vintageのオススメの勉強法：</p>

<p>普通の文法問題集となっているので、左ページに問題、右ページに解説という形式になっております。使い方については、ひたすら「問題を解く→解説を読む」を繰り返す形になります。解説の中で、重要な表現がまとめられた項目があれば、それらを赤シートを使って隠しながら暗記してください。1周目は、ただよびで学んだ知識だけで解ける問題もありますが、基本的には解けない問題がほとんどとなっているので「解けないのが当たり前」になります。ですので、少しでも自分の知識を上回る問題に遭遇したら、しっかりと解説を読みましょう。そして「なぜその答えに行き着くのか」を説明できるようにしてください。度々、問題の答えだけ覚えてしまう人がいるのですが、それでは完全に理解した状態とは言えません。ですので、解説を読んだ後に自分なりの言葉で説明できるかチェックしてみましょう。もし、どうしても解説がわからない問題があれば、Vintageに付属している動画やネットに公開されている記事や動画などを読んで、理解していく方法がオススメです。</p>

<p>以上の要領で、1週間で4章分進めることをお勧めします。1日1章進め、2日で2章進めます。3日目は覚えたことを忘れないために、まとめて2章分の復習を行います。同様に4日目、5日目もそれぞれ1章ずつ進めて、6日目で2章分の復習を行います。残りの1日は休憩に使うか、1日〜6日で進めた4章分を復習するといいでしょう。3日目と6日目で行う復習方法は上記に書いてある方法と同様に「問題を解く→解説を読む」やり方で問題ありません。</p>

<p>1ヶ月目で文法の項目を全て終わらせましょう。2ヶ月目はもう一度今までやってきたことを復習します。3ヶ月目から語法に入りますが、語法というのは、主に動詞の使い方を学んでいきます。やり方は基本的には文法と変わりませんので、同じ要領で進めていただければと思います。</p>

<p>6ヶ月目くらいからvintageに掲載されているイディオムの項目に入ると思います。イディオムは「試しに問題を解く→左ページのイディオムを赤シートで隠しながら意味も含めて音読→左ページの問題をもう一度解いてチェックする」という形で進めるといいでしょう。こちらは暗記がメインとなりますので、全てのイディオムを日本語に訳せるようになるまで、復習してください。</p>

<p>こちらのvintageという参考書については、早稲田慶應レベルまでの文法を全て網羅しているので、これ一冊で十分と考えられています。そのため、受験が終わるまで繰り返し復習し、問題を反射的に答えられるようになるまで何周もしてください。</p>

<hr>

<p><a href="https://www.amazon.co.jp/%E5%85%A5%E9%96%80%E8%8B%B1%E6%96%87%E5%95%8F%E9%A1%8C%E7%B2%BE%E8%AC%9B-4%E8%A8%82%E7%89%88-%E7%AB%B9%E5%B2%A1%E5%BA%83%E4%BF%A1/dp/4010345713">(4) 入門英文問題精講</a></p>

<p>「入門英文問題精講」は有名な英語講師、竹岡広信先生が執筆したものです。この参考書は単純に例文解説するだけのもではなく、文中に出てくる単語や熟語について詳しい解説が掲載されていたり、基礎的な英文法について解説する講義動画が付属しています。このように他の英文解釈本にはない魅力を持っており、近年評価されつつある参考書です。入門系参考書の中で最も詳しい解説だと思うので、この本を採用させていただきました。</p>

<p>入門英文問題精講のオススメの勉強法：</p>

<p>① 最初にやるべきこと
最初からいきなり問題を解くのではなく、基礎的な英文法を簡単に復習してから英文解釈の方に入りましょう。本参考書には竹岡先生の講義動画が付属しており、12回分の講義を視聴することができます。まずはそちらの動画を視聴してから、英文解釈に入ってください。</p>

<p>②  問題を解く
基礎的な英文法を学んだ後は、英文解釈の問題に取り組んでいきます。まずは問題の例文を読んで、SVOCを意識しながら日本語に訳していきます(ノートに書いてください)。文中にわからない単語が出てくると思うので、問題の後ろのページについている単語集を活用してください。その際、より記憶に定着させるために、単語の解説をしっかりと読みましょう。</p>

<p>③ 解説を読む
問題が解き終わった後、解説を読み、重要なところにマーカーを引いてみましょう。その際、自分が書いた日本語訳がなぜ間違っていたのかを明確にすることが重要です。解説を読み終わった際にもう一度例文をみて、自分でその例文を解説しながら、正しい日本語訳に直してみてください。</p>

<p>④ 仕上げは音読
仕上げは例文の音読です。目安15回ほどやってもらいたいと思います。やり方については、最初の7回は「節ごとに例文を声に出して読む→その節の文構造を意識しながら日本語訳を声に出して言う」を繰り返し音読しましょう。残りの8回はWEB上でネイティブが読み上げた音声を聞くことができるので、音声に合わせて音読してみてください。「ネイティブが読み上げた音声を聴く→例文を読む」という形でやってみてください。何度もやるうちに英語の例文を読むだけで、日本語に訳さずとも英語の文章が理解できるようになります。目標としてはそのレベルまでいって欲しいです。ここまで詳しくやり方を解説していますが「このやり方はちょっと自分に合わないな...」と少しでも思ったら、自分にあったやり方でやって みるのもいいでしょう。</p>

<p>ペースについては問題が全部で72問あるそうなので、1日5問ほどやっていただければ、1ヶ月で全問終わらせることができると思います。復習は4日進んで、3日戻るというやり方を採用したいと思います。具体的には、4日で20問進めて、5日目で10問復習、6日目で10問、7日目でまとめて20問復習するという形になります。5日目と6日目の復習方法は上記入門英文問題精講のオススメの勉強法②〜④を参考にしていただければと思います。7日目の復習方法については上記のやり方だと非常に時間がかかってしまうため「ネイティブが読み上げた音声を聴く→例文を読む」という形でやっていただければと思います。もし例文だけ読んで理解が不十分だと感じられたら、何が理解できていないか解説を見て確認してもらいたいと思います。音読は例文一つにつき、7回を目安にしていただきたいと思います。この要領で20問音読してください。</p>

<hr>

<p><a href="https://www.amazon.co.jp/TopGrade%E9%9B%A3%E9%96%A2%E5%A4%A7%E7%AA%81%E7%A0%B4%E8%8B%B1%E6%96%87%E8%AA%AD%E8%A7%A3%E5%95%8F%E9%A1%8C%E7%B2%BE%E9%81%B8-Noblesse-oblige-%E6%97%A9%E5%B7%9D-%E5%8B%9D%E5%B7%B1/dp/4053028531/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=34T4NP0VVMRXV&dchild=1&keywords=%E8%8B%B1%E6%96%87%E8%AA%AD%E8%A7%A3%E5%95%8F%E9%A1%8C%E7%B2%BE%E9%81%B8&qid=1622513880&sprefix=%E8%8B%B1%E6%96%87%E8%AA%AD%E8%A7%A3%E5%95%8F%E9%A1%8C%2Caps%2C263&sr=8-1">(5) TopGrade難関大突破問題精選</a></p>

<p>英文読解問題精選は入門英文問題精講と比べると、日本語訳にするのが難しい例文が数多く掲載されています。そのため「ターゲット1900」「Vintageの文法・語法・イディオム」「東進レベル別問題集①②③④」「入門英文問題精講」を完璧に仕上げていく必要があります。もし、この参考書に入る段階で少しでも不安に感じたら、今までやってきたものを完璧になるまで何周もしてください。その上で、この参考書に取り掛かるといいでしょう。この「TopGrade難関大突破問題精選」を何周もして、完璧に仕上げることができれば、MARCHレベルの長文はある程度読めるようになると思います。</p>

<p>やり方については、入門英文問題精講のオススメの勉強法とほとんど同じなので②〜④を参考に進めていただければと思います。ただ例文を読み上げる音声が付属していないので、「節ごとに例文を音読→その節の文構造を意識しながら日本語に訳す(声に出す)」やり方でやっていただきたいと思います。</p>

<p>進め方については、入門英文問題精講のオススメの勉強法で紹介した進め方と全く同じようにやっていただければと思いますので、上記を参考に進めてください。</p>

<hr>

<p><a href="https://www.amazon.co.jp/%E8%8B%B1%E8%AA%9E%E9%95%B7%E6%96%87%E3%83%AC%E3%83%99%E3%83%AB%E5%88%A5%E5%95%8F%E9%A1%8C%E9%9B%86-1%E8%B6%85%E5%9F%BA%E7%A4%8E%E7%B7%A8-%E6%9D%B1%E9%80%B2%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E3%83%AC%E3%83%99%E3%83%AB%E5%88%A5%E5%95%8F%E9%A1%8C%E9%9B%86%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E5%AE%89%E6%B2%B3%E5%86%85/dp/4890853944/ref=sr_1_3?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E6%9D%B1%E9%80%B2%E3%83%AC%E3%83%99%E3%83%AB%E5%88%A5%E5%95%8F%E9%A1%8C%E9%9B%86&qid=1622515637&sr=8-3">(6) 英語長文レベル別問題集</a></p>

<p>東進ハイスクールで有名な安河内哲也先生が執筆した長文読解の参考書です。レベル別に分かれており、レベル1〜レベル6までの6冊に分かれています。それぞれ約12題ほど掲載されています。解答や解説だけでなく、文の構造の把握するためにSVOCが振られた本文も掲載されているので、英文の構造を掴むのが苦手な人でも取り組みやすい一冊となってます。<p>

<p>英語長文レベル別問題集使い方：</p>

<p>① 最初は何も参照せずに問題を解く</p>
<p>まずは自分の実力を把握するために、長文を読んで問題を解いてみましょう。問題ページの上部に回答時間が書いてあります。タイマーなどを使って時間内に解いてください。長文の読み方についてはこちらに詳しく書かれているので、以下の記事を参照してください。</p>

<p><a href="https://ingle729.com/2019/06/08/read-faster/">【英語】速読が得意になる７つのコツ</a></p>

<p>② 和訳とSVOC分析された英文の構造をみながら1文ずつ精読
和訳とSVOCが振られた本文をみながら、1文ずつ自分なりに日本語に訳してみたりするなどして、読み進めていきます。わからない単語があれば和訳の下にある単語リストを参照するといいでしょう。</p>

<p>③ 単語の暗記
精読が終わったら、まとめて和訳の下にある単語リストを暗記しましょう。やり方はターゲット1900のオススメ勉強法を参考にして進めてください。語句リストの復習でスペルが問われるので、時間がある人はノートに単語を書きながら覚えると良いでしょう。</p>

<p>④ 語句リストの復習
単語の仕上げは「語句リストの復習」と書かれたページで行っていきます。ここでは、出題されている単語が完全に書けるようになるまで何度も復習すると良いでしょう。</p>

<p>⑤ 全文音読
①〜④まで終わったら総仕上げとして音読をしましょう。最初は音声を使わなくていいので、自分のペースで音読してみてください。慣れてきたら、付属の音声に合わせて、音読してみてください。目安は7回くらいでいいと思います。それで足りないと感じるならもっとやってもいいかもしれません。時間に余裕がある方はぜひシャドーイングに挑戦してみてください。シャドーイングのやり方については以下の記事を参考にしてください。</p>

<p><a href="https://dokugakuenglish.com/speaking/shadowing-method/">シャドーイングを10年続けた私が、正しいやり方と継続のコツを教えるよ！</a></p>

<p>ペースについては「4日進んで3日戻る」というやり方を採用します。1日につき1章ずつ進めていきます。1日目〜4日目で4章分進め、5日目と6日目、7日目でそれぞれ4章分復習します。このペースで進めば、1ヶ月で1冊分終わると思います。5,6,7日目の復習方法については、精読がすでに終わっている段階なので、なるべく簡潔にして「英語長文レベル別問題集の使い方：①, ③, ⑤」の順序で進めることをオススメします。</p>

<hr>

<p>(7) その他の教材について</p>

<p>過去問の使い方に関しては、スケジュールの9ヶ月から10ヶ月目の説明を参考にすると良いでしょう。こちらも参考にしていただけると幸いです。</p>

<p><a href="https://www.youtube.com/watch?v=Gnf26idljMg&t=375sv">【予備校講師直伝】過去問のやり方【形式分析・復習】</a></p>

<p>英作文の参考書に関しては「竹岡広信の英作文が面白いほどかける本」を使うのがオススメです。使い方に関しては以下の記事か動画を参考にしてください。</p>

<p><a href="https://www.youtube.com/watch?v=gasqPHR8roA">受験で愛用したオススメ英作文の参考書紹介</a></p>

<p>リスニング対策については、以下を参考にしてみてください。</p>

<p><a href="https://www.youtube.com/watch?v=FBybxAQLOVY">共通テストのリスニングで9割取る勉強法</a></p>


<p class="sub-title">終わりに<p>

<p>いかがだったでしょうか。今回のコラムでは10ヶ月でMARCHに合格するというものでしたが、「大変そう」と感じた人は多いと思います。しかし、これだけやれば逆に受かります。少なくとも日東駒専には滑り込めるでしょう。今回の記事で紹介させていただいた参考書はボロボロになるまで完璧にしてください。大変な道のりですが、頑張りましょう。この記事が少しでも参考になれば幸いです。最後まで読んでいただきありがとうございました。</p>

  </div>
</div>