<div class="wrapper bg-white pb-3 mb-5">
  <div class="top-wrapper text-center">
    <p class="date">2021/7/29</p>
    <h1 class="top-title">世界史勉強法</h1>
  </div>
<div class="main-wrapper m-3">
<p class="sub-title">はじめに</p>
 
<p>世界史を勉強しても「内容が膨大すぎて、何から始めたらいいかわからない」「授業のペースが早すぎてついていけない」などの悩みを抱えている人は多いと思います。私自身も勉強法が確立していなかった頃は、参考書を買って勉強していました。しかし、文章の内容を理解するのに非常に時間がかかり、途中で挫折なんてこともありました。そんな世界史は大の苦手な私でしたが、ある方法を実践したところMARCHレベルの過去問で３割しか取れなかったレベルから継続して９割取ることができるようになりました。世界史の参考書を読むのが嫌いな人でも気負いなくできるので、非常におすすめな勉強法です。今回は世界史に悩める受験生に向けて勉強法を紹介したいと思います。</p>
 
<p class="sub-title">学習の流れ</p>
 
<p>世界史は①流れの理解②単語の暗記③アウトプットで進めていきます。初めに①流れの理解についてですが、暗記をする上で最も重要となります。ただ単語だけ覚えても、背景知識を理解していないと覚えにくいものです。しっかりと歴史の流れを理解し、歴史の流れによって単語と単語を紐付けて覚えられるようにしていきましょう。②単語の暗記については、繰り返し復習することが重要となります。エビングハウスの忘却線にもあるように人の記憶は覚えたものを１時間で５６%忘れてしまうと言われています。また、１ヶ月後には７９%忘れてしまうと言われています。そのため、一度流れを理解しただけでは足らず、何度も何度も復習して記憶に定着させていく必要があるのです。③のアウトプットについてですが、より記憶に定着させるためには実際に問題を解くのがベストです。知識は持ってるだけでは、次第に霞んで消えていきます。それを防ぐためには何度も記憶から知識を引き出して、いつでも取り出せる状態にしておかなければなりません。これはアウトプット学習をしていくことで、身についていくものです。何度も問題を解いて、すぐに回答にたどり着ける状態を作ってみてください。</p>

<p class="sub-title">勉強法の紹介</p>

<p>使用教材は山崎圭一先生の動画を使用していきます。</p>

<p><a href="https://www.youtube.com/channel/UCzSU4Vjk2VBJFHPvB5SJxHA">動画へのリンク</a></p>

<p>一度読んだら絶対に忘れない世界史の教科書の著者です。この参考書は現在19万部を突破しており、大学予備校でも教材として採用されているほど評価されています。動画についても流れを理解しやすい内容となっているため、非常におすすめな教材です。</p>

<p>再生リストの中に「高校世界史 世界史２０話プロジェクト」があると思うので、そちらを使って学習を進めてください。</p>

<p>動画学習方法ついての簡単な流れは以下の通りです。</p>
<ul>
<li>①動画を見ながら板書をノートに写す</li>
<li>②最後に赤シートを使って暗記する</li>
</ul>

<p>①毎回の授業で板書が取られるので、必ずノートを用意して書き写してください。後で見やすいようにしておくために綺麗な文字で書くことを意識してください。また、黒板に書かれていることだけでなく、先生の話をメモするのも良いでしょう。自分だけの１冊を作ってみてください。注意点として、重要な単語は黒板に黄色で書かれています。後で赤シートで隠して文字を消せるように、黄色の文字は赤シートで消えるペンを使って消せるようにしておいてください。</p>


<p>②動画を見終わったらノートを見返してください。その際、重要単語(オレンジ色のペンで書かれた単語)を使って歴史の流れを自分で説明できるか確認してみてください。わからない点があれば、動画を参照する、もしくはGOOGLEで調べてみるとよいでしょう。インプットができたら早速アウトプット学習に入ります。赤シートを使って「１ページごとに」暗記します。その際、上から下にスライドさせて、重要単語が声に出して言えるかどうかチェックしてみてください。全ての単語が言えるようになるまで次のページにいかずに、そのページで暗記を続けてください。全ての単語が言える状態になったら、最後にもう一度確認しましょう。２回チェックして全て重要単語が答えられるようになったら次のページに進んでください。
視聴した動画の範囲の暗記が終わったら暗記作業は終了です。</p>


<p class="sub-title">１週間の流れについて</p>

<p>山崎圭一先生の動画学習は「４日進んで３日戻る」という形式で進めていきます。一週間のうち４日間は「①動画を見ながら板書をノートに写す」と「②最後に赤シートを使って暗記する」の両方をやります。残りの３日間は「②最後に赤シートを使って暗記する」のみです。後半の３日間の中で、１日目は「４日のうち前半の２日分の授業」を復習します。２日目は「４日のうち後半の２日分の授業」の復習、３日目は４日分全範囲を復習します。結果的に３回覚える作業を行なっているので記憶力の良い人であれば、当分の間は忘れないでしょう。</p>

<p>動画は可能であれば「１日４動画進める」ことをお勧めします。そうすると早くて３ヶ月で通史が終わることになり、あとはひたすら動画の内容を復習すれば良いだけになるので、他の学習に時間を使うことができるようになります。大変なものは早く終わらせて、早く楽になりましょう。１日４動画進める場合、１週間のうち４日で１６動画進めたことになります。残りの３日では１日目に前半８動画の復習、２日目には後半８動画復習、そして３日目には全範囲１６動画復習してください。※以下の画像では赤が前半、青が後半に該当します。</p>

<p class="text-center"><%= image_tag 'hi-sche.png', size: "600x100", class: "" %><p>



<p class="sub-title">全動画視聴後の学習について</p>

<p>２００話すべて視聴した後は、板書を写したノートを上記の②のやり方で復習してください。目標ですが、完全に全ての単語が声に出して言えるようになるまで復習してみてください。自分はノートを７周復習して全ての単語が言えるようになったと思います。ここまで来ると、共通テストで８割は取れるようになると思います。</p>


<p class="sub-title">過去問の使い方</p>

<p>受験半年前の８月頃には、過去問に挑戦してみましょう。その際、傾向把握のために確認して欲しいことは２つあります。一つ目は「論述問題はないか」二つ目は「年号の問題はないか」です。特に論述問題については配点が大きい可能性があるので必ず対策するようにしましょう。</p>

<p>論述問題がある場合は以下の動画をみて参考にすると良いでしょう。</p>

<p>Historia Mundi「世界史2点アップ講座①」</p>
<p><a href="https://www.youtube.com/watch?v=f2UUl5Pgi4g">動画に進む</a></p>

<p>Historia Mundi「世界史2点アップ講座②」<p>
<p><a href="https://www.youtube.com/watch?v=JL25GPdHUxc">動画に進む</a></p>

<hr>

<p>世界史の論述に特化している参考書は以下のものがお勧めです。</p>

<p>①<a href="https://www.amazon.co.jp/%E5%88%A4%E3%82%8B-%E8%A7%A3%E3%81%91%E3%82%8B-%E6%9B%B8%E3%81%91%E3%82%8B-%E4%B8%96%E7%95%8C%E5%8F%B2%E8%AB%96%E8%BF%B0-%E6%B2%B3%E5%90%88%E5%A1%BE%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA/dp/4777217930/ref=cm_cr_arp_d_product_top?ie=UTF8">「判る！解ける！書ける！世界史論述（河合塾シリーズ）」</a></p>

<p>世界史の論述の入門書です。内容についてですが「ポイントを見極める例題７５、実力アップの練習問題１１６」が収録されているため、問題量は充実しています。こちらで出来事の時系列や因果関係を字数内で説明する練習をしてみてください。学習に入るタイミングについては、共通テストの過去問で7割取れるようになってから始めることをお勧めします。

<p>年号の問題は以下の参考書を使って学習することを推奨します。</p>

<p>②<a href="https://www.amazon.co.jp/%E9%A2%A8%E5%91%82%E3%81%A7%E8%A6%9A%E3%81%88%E3%82%8B%E4%B8%96%E7%95%8C%E5%8F%B2%E3%80%94%E5%B9%B4%E4%BB%A3%E3%80%95-%E6%94%B9%E8%A8%82%E7%89%88-%E9%A2%A8%E5%91%82%E3%81%A7%E8%A6%9A%E3%81%88%E3%82%8B%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E4%B8%89%E5%AE%85-%E6%A0%84%E6%B2%BB/dp/4325200207/ref=sr_1_8?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E4%B8%96%E7%95%8C%E5%8F%B2+%E5%B9%B4%E5%8F%B7&qid=1620746394&sr=8-8">
「風呂で覚える世界史 年代（改訂版）」</a></p>

<p>こちらの参考書は語呂で覚えるタイプのものです。お風呂でも使えるので繰り返し口で唱えるなどして暗記すると良いでしょう。のぼせないように注意してください。</p>

<p>過去問は最初は日東駒専あたりから初めて、徐々にレベルを上げてMARCHレベルの過去問に挑戦してみてください。ただひたすら問題を解くだけではなく、次同じ問題が出たら確実に解けるようにせめて３周することをお勧めします。特に第一志望の過去問は力を入れて何周もしてください。何周もすることで問題に慣れるだけでなく、「自分なりの解き方」を確立させることができるからです。何度も復習して「自分なりの解き方」を磨いてみると良いでしょう。</p>

<p>まとめ</p>

<p>動画学習は１週間のうち４日進めて、３日復習するやり方をお勧めします。２００話までの暗記が完了したら、何度もノートを復習して集中的にインプットしてください。夏(７月〜８月）からは、アウトプット学習として過去問に挑戦してください。論述問題や記号問題などがありましたら、上記で紹介した参考書で学んでみると良いでしょう。</p>

<p>世界史は膨大な量の単語を暗記しなければいけない科目なので、早めに対策を取らないとあとで失敗します。世界史に不安を抱える受験生は上記で教えた方法で実践してみてください。早め早めの対策が肝心です。<p>

<p>この記事が少しでも参考になれば幸いです。最後まで読んでいただきありがとうございました。</p>
</div>
</div>