<div class="wrapper bg-white pb-3 mb-5">
  <div class="top-wrapper text-center">
    <p class="date">2021/7/29</p>
    <h1 class="top-title">現代文勉強法</h1>
  </div>
  <div class="main-wrapper m-3">
  <p class="sub-title">はじめに</p>
  <p>「現代文の勉強法がいまいちわからない...」「参考書はあるけど、どれから入ればいいのかいまいちわからない」など現代文で不安を抱える人は多いと思います。自身も現役の受験生だった時は、現代文の参考書を買うも、自分のレベルに合わないと感じて、結局放置してしまうなんてことがよくありました。今日はそんな受験生に向て現代文の勉強法やおすすめの学習参考書を紹介していこうと思います。</p>
  <p class="sub-title">学習の流れ</p>
  <p>現代文の学習は三つのステップで進めていきます</p>
  <ul>
    <li>漢字やキーワードの暗記</li>
    <li>問題の解き方を学ぶ</li>
    <li>繰り返し練習問題を解く</li>
  </ul>
  <p>この3つのステップを踏むことで、現代文の点数が徐々に上がっていきます。</p>
  <p>漢字やキーワードを暗記する理由は、試験で漢字が出る場合が多いので、その対策として漢字を暗記する必要があるからです。また、キーワードや漢字をあらかじめ理解しておくことで、難解な文章に出会ったときに読みやすくなります。そのため、自身の読解力をあげるためにも必要なステップになります。必要な漢字やキーワードを学んだ後は、最初から練習問題を解くのではなく、問題の解き方を学んでいきます。いきなり練習問題から入ると、誤った解き方で学習を進めてしまう可能性があります。まずは自分の解き方を見つめ直して、矯正していくことが重要です。また、現代文の他に古文や漢文も解かなければなりません。限られた時間の中でより正確に解くためにはテクニック頼る必要があると思います。そのためには、最初に解き方を学ぶことは欠かせないステップです。問題の解き方を学んだ後は、ひたすら練習問題を解いていきます。テクニックを学んだだけでは、実戦では活かすことができないので、練習問題の中で②で得られた解き方を活かしながらテクニックに慣れていく必要があるでしう最初は簡単なところから初め、徐々にレベルを上げていけば、私立難関大学レベルの文章は確実に解けるようになると思います。</p>
  <p class="sub-title">スケジュール</p>
  <p>10ヶ月で私立難関大学に合格できるスケジュールを組みました。無理なく進められると思うので「何から手をつければいいのかわからない...!」と思う方はこちらを参考にしながら学習を進めてみてください。</p>
  <p class="text-center"><%= image_tag 'ln-sche.png', size: "600x200", class: "" %><p>
  <p>続いて、詳しいスケジュールについて見ていきます</p>
  <p>1ヶ月〜3ヶ月：1ヶ月目は「入試漢字マスター1800」と「ことばはチカラだ！」を使って、漢字とキーワードを学んでいきます。「入試漢字マスター1800」には、書き取りの項目がABCとあるので1ヶ月目はAまで終わらせましょう。「ことばはチカラだ！」については1ヶ月目は最低1周しましょう。最初は内容を深く理解できなくてもいいので、重要単語を覚える程度で大丈夫です。2ヶ月目は「入試漢字マスター1800」をBまで終わらせ、「ことばはチカラだ！」をもう一周しましょう。現代文の解き方については「はじめての入試現代文」に使っていきます。これについては1日1講ずつ進めるのがおすすめです。4講は例題が多いので、分割してやります。このペースで行くと1週間で1周できると思います。なので、1ヶ月で4周することを目安にして取り組んでください。3ヶ月目は「入試漢字マスター1800」A-Bの復習。「ことばはチカラだ！」についてはもう一周するといいでしょう。「はじめての[次の]入試現代文」については「はじめての入試現代文」と同様のペースで進めてください。ここまでできれば、基礎的な知識の土台が出来上がった状態になります。</p>
  <p>※ 入試漢字マスター1800は3ヶ月目以降は書き取りABの復習をしてください。書き取りCもあるのですが、
  基本的にはABで十分だと思います。四字熟語の項目もあるのですが、ご自身の志望校の過去問を見て、
  四字熟語が問われるようであれば、暗記する必要があると思います。</p>
  <p>4ヶ月〜5ヶ月：4ヶ月目からは「現代文キーワード読解」に入ります。この参考書は非常にボリュームがあるので、1ヶ月ではとても終わらない内容となっています。3ヶ月で1周はかかると思うので、1ヶ月につき半分は終わらせるようにしましょう。入試までに3周できればいいと思います。2日進めて1日で2日分復習するという形で進めてください。「入試現代文へのアクセス」については全体で16題あるので1日〜4日の間で4題進めて、2日で2題ずつ復習します。最後の1日で4日分の問題を解きます。目安は1ヶ月で1周です。5ヶ月目は引き続き「現代文キーワード読解」を進め「入試現代文へのアクセス」は4ヶ月目と同様の要領で進めていきます。ここまでできれば、日東駒専レベルに到達することができます。</p>
  <p>6ヶ月〜7ヶ月：6ヶ月目からは「現代文読解力の開発講座」に入っていきます。全体で10題掲載されているので、1日〜4日の間で4題進めて、2日で2題ずつ復習、最後の1日で4日分の問題を解くという形式で進めていきます。このペースで進めていくと、1ヶ月で2周はできると思います。7ヶ月目についても6ヶ月目と同様の要領で進めていきます。「現代文読解力の開発講座」は習すればするほど読解力が上がっていくので、2ヶ月で4周はマストです。</p>
  <p>8ヶ月〜9ヶ月：8ヶ月目からは「入試現代文へのアクセス[発展編]」に入ります。こちらは「現代文読解力の開発講座」で学んだ要約スキルを活かせる問題集です。ペースは「入試現代文へのアクセス[基礎編]」と同様のペースで進めてください。目安は2ヶ月で2周です。ここまでできれば、MARCHレベルの問題に挑戦できる土台が出来上がると思います。</p>
  <p>10ヶ月目〜：10ヶ月目からは過去問に挑戦してみてください。1日1題のペースで進めるといいと思います。最低でも志望校の場合は、3年分を3周して、問題の傾向に慣れるといいでしょう。また、メルカリに古い年度の過去問が売っていると思うので、3年分で足りないと感じたら古い年度の過去問にも挑戦するといいと思います。過去問で文学史や慣用句、四字熟語などが問われているようであれば、別途参考書を購入して対策するといいと思います。</p>
  <p class="sub-title">参考書紹介</p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E5%85%A5%E8%A9%A6-%E6%BC%A2%E5%AD%97%E3%83%9E%E3%82%B9%E3%82%BF%E3%83%BC1800-%E5%9B%9B%E8%A8%82%E7%89%88-%E6%B2%B3%E5%90%88%E5%A1%BE%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E5%B7%9D%E9%87%8E/dp/477722211X/ref=pd_lpo_14_t_0/357-4471349-0871017?_encoding=UTF8&pd_rd_i=477722211X&pd_rd_r=4b98a9cb-3af4-45f6-a7af-57699a1e1985&pd_rd_w=z9T0Z&pd_rd_wg=MsI1W&pf_rd_p=cc043046-48af-4a56-a049-b4a889070edc&pf_rd_r=GQHS79MW0116WYDBNDR3&psc=1&refRID=GQHS79MW0116WYDBNDR3">
  入試漢字マスター1800+</a></p>
  <p>入試に必要な漢字が網羅的に収録されています。その中の書き取りはレベル別で別れており、レベルA,Bは基本的な漢字、レベルCは難関大のレベルとなっています。特に最低限やらなければならないのがレベルA,Bです。MARCHレベルであれば、レベルA,Bだけで十分ですが、大学によっては難しい漢字が問われる場合もあるので、大学のレベルに合わせて書き取りのレベルCもやっておく必要があるでしょう。四字熟語についても大学によって出題されている場合があるので、過去問の傾向を見て、必要があれば対策してください。</p>
  <p>入試漢字マスター1800+おすすめの勉強法：</p>
  <p>書き取り：</p>
  <p>見開き2ページごとに進めるのが一番効率がいいので、おすすめです。最初は赤シートで下の漢字を隠して、全部書き出してみましょう。そこで、現時点で「書ける漢字」と「書けない漢字」を把握する必要があります。これにより「書ける漢字」に関しては勉強しなくても書けるので「書けない漢字」だけ重点的に行えるようになります。上にチェックボックスがあるので「書けない漢字」にチェックを入れてください。書けなかった漢字はノートに目安として3回ほど書いて覚えていきましょう。見開き2ページ分書き終えたら、もう一度赤シートで隠して「書けなかった漢字」だけテストします。そこで、再び「書ける漢字」と「書けない漢字」を分けて、書けなかった漢字だけ練習してください。そして、もう一度テストをして「書けない漢字」がなくなった段階で次のページに進みます。</p>
  <p>※ 例文の隣に漢字の意味が書いてありますので、そちらも確認しながら進めてください。1周目から意味まで覚えるのは厳しいので、2周目から意味も確認するようにしてください。</p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E3%81%93%E3%81%A8%E3%81%B0%E3%81%AF%E3%81%A1%E3%81%8B%E3%82%89%E3%83%80-%E7%8F%BE%E4%BB%A3%E6%96%87%E3%82%AD%E3%83%BC%E3%83%AF%E3%83%BC%E3%83%89%E2%80%95%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87%E6%9C%80%E9%87%8D%E8%A6%81%E3%82%AD%E3%83%BC%E3%83%AF%E3%83%BC%E3%83%8920-%E6%B2%B3%E5%90%88%E5%A1%BESERIES-%E5%89%8D%E5%B3%B6-%E8%89%AF%E9%9B%84/dp/4877256113/ref=pd_lpo_14_img_1/357-4471349-0871017?_encoding=UTF8&pd_rd_i=4877256113&pd_rd_r=af6d0a02-0d03-49c1-a4e1-5e1d07e4c28c&pd_rd_w=OuI1O&pd_rd_wg=afBje&pf_rd_p=cc043046-48af-4a56-a049-b4a889070edc&pf_rd_r=AXV108WGP3X3MNAFWM00&psc=1&refRID=AXV108WGP3X3MNAFWM00">ことばはチカラだ！</a></p>
  <p>この参考書では基礎的な用語から日東駒専レベルのキーワードが収録されています。日東駒専レベルの大学を受ける予定であれば、この1冊で十分です。208ページしかないので、勉強の習慣がついてない人でも気負うことなく始められると思います。解説も他のキーワード集と比べて非常に詳しいので、記憶には残りやすいと思います。最低でも3周はして、可能な限り全てのキーワードを覚える気持ちで取り組んでください。</p>
  <p>ことばはチカラだ！のおすすめの勉強法：</p>
  <p>普通に読み進める形で大丈夫だと思います。しかし、ただ読み進めるだけではあまり記憶に残りません。キーワードが出てきたら紙などに書き、後で見返せるようにしてください。また、重要な箇所にマーカーを引いて、内容を覚えていくといいと思います。一通り読み進めたら、最後にテストをします。紙に書いたキーワードが自分で説明できるかチェックしてみてください。もし説明できなかった用語があった場合はもう一度参考書を見て、確認するといいでしょう。キーワードを書いた紙はいつでも復習できるように部屋の壁に貼っておくことをお勧めします。例えば、部屋に入る際にキーワードを説明してから席につくなどしていると、繰り返しキーワードを唱えることになるので、自然と記憶に残りやすいです。</p>
  <p>※ キーワード集を2冊使うのは効率が悪いと感じる方もいらっしゃると思います。その場合は、書店で現代文キーワード集の例文が読めるかどうかチェックしてみてください。読めない場合は、まだ基礎的な読解力が身についていない状態なので、比較的に読みやすく、解説が詳しいことばはチカラだ！から入ることをお勧めします。問題なく読めるようであれば、現代文キーワード集から入ってもいいと思います。</p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E7%8F%BE%E4%BB%A3%E6%96%87%E3%82%AD%E3%83%BC%E3%83%AF%E3%83%BC%E3%83%89%E8%AA%AD%E8%A7%A3-%E6%94%B9%E8%A8%82%E7%89%88-Z%E4%BC%9A%E5%87%BA%E7%89%88%E7%B7%A8%E9%9B%86%E9%83%A8/dp/4865310428/ref=sr_1_1?adgrpid=104648946649&dchild=1&gclid=CjwKCAjwgISIBhBfEiwALE19SaL6FJEfNnoAqSfld9DamD3hRdxrAYxHEvWJ_7OsWz6fMjebdtJ6FBoCxhcQAvD_BwE&hvadid=439371050111&hvdev=c&hvlocphy=1009292&hvnetw=g&hvqmt=b&hvrand=3854264808332520344&hvtargid=kwd-909769914376&hydadcr=21104_10877270&jp-ad-ap=0&keywords=%E3%82%AD%E3%83%BC%E3%83%AF%E3%83%BC%E3%83%89%E8%AA%AD%E8%A7%A3+%E7%8F%BE%E4%BB%A3%E6%96%87&qid=1627524107&sr=8-1">現代文キーワード読解</a></p>
  <p>ことばはチカラだ！の次にやっていただきたいキーワード集がZ会から出版されている現代文キーワード読解になります。ことばはチカラだ！に比べると非常に多くの重要語が収録されています。基礎・科学・言語・文化・宗教・哲学・心理・近代・現代社会などのテーマごとに頻出キーワードが解説されています。入試に出題された例文も掲載されているので、暗記するキーワードがどのような文脈で使われているのか確認することができます。ただ単純にキーワードを暗記するだけではなく、入試に頻出するテーマについて、「どのように問われるのか」や「どのように読解に活かすのか」など、現代文の背景知識も学べる点で非常に魅力的な1冊となっております。全て読み終えるだけでも大変だと思うので、入試までに3周ほどできれば十分だと思います。(本当はもっと何周もして欲しいのですが...)</p>
  <p>現代文キーワード読解のおすすめの勉強法：</p>
  <p>基本的にはことばはチカラだ！の勉強法と同じやり方で大丈夫です。ただ現代文キーワード読解には、キーワードを解説するページの右に例文が載っているので、その例文の文構造を掴みながら、ノートか自分の頭の中でもいいので、要約して作者が何を伝えたいのか整理するといいでしょう。また、キーワードがどのような文脈で使われているのか注意しながら読みましょう。ことばはチカラだ！の勉強法で暗記を行い、以上の2点を意識しながら進めていけば、キーワードの暗記だけでなく、背景知識や読解力も強化することができます。</p>
  <p>※ 読んでてわからないキーワードがあったら、自分でGoogleを使って調べると良いでしょう。現代文に出てくる頻出の用語であれば、詳しく解説しているサイトがあると思います。</p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AE%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87%E2%80%95%E6%AD%A3%E8%A7%A3%E3%81%B8%E3%81%AE%E3%82%A2%E3%83%97%E3%83%AD%E3%83%BC%E3%83%81-%E6%B2%B3%E5%90%88%E5%A1%BE%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E6%9C%A8%E6%9D%91-%E5%93%B2%E4%B9%9F/dp/4777220621/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AE%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87&qid=1623904167&sr=8-1">はじめての入試現代文　はじめての[次の]入試現代文</a></p>
  <p>本書は、入門者向けに現代文の「解法」を説明する参考書になります。読解問題を解いていくような問題集ではありません。そのため、「どのように解いていくのか」に焦点を当てて、現代文の問題を解くプロセスを集中的に学ぶことができます。また、解き方のフォームを何度も辿り直すことで、本書の解き方をマスターすることができます。目安として1冊を1ヶ月で4周すれば、入試現代文へのアクセスで挫折することはなくなると思います。</p>
  <p>はじめての入試現代文　はじめての[次の]入試現代文の進め方：</p>
  <p>①書き込み用に例題を2枚コピーして、1枚を自力で解いてください。その際「対比」や「イコール」「因果(原因と結果)」などの論理関係を意識して、文章に線を引きながら読み進めるといいでしょう。解答の根拠を明示して、後で確認できるようにしてください。
  <p>※ 短い文章ならコピーしなくても大丈夫です。</p>
  ②問題を解いたら解説を見ます。自分の解き方のどこが間違っていたのか、解説を読んで確認してみてください。正しい解き方をインプットするために、赤ペンで文と文を正しくつなげるといいでしょう。例題5であれば「彼ら」と「われわれ」に対比関係の線を引いてみてください。また、解説の中で重要だと思う箇所があれば、例題のコピーにメモするといいでしょう。というのも、最後に自分で解答までの筋道を説明するので、その時に役立てるためです。</p>
  <p>③仕上げはもう一方のコピーを解いていきます。その際、自分で解答までの筋道を説明しながら、問題を解いていきます。そこで、本書の解説通りに再現できているか確認してください。もし、忘れていることがあれば、もう一方のコピーを見ても大丈夫です。完璧に説明できるようになるまで、繰り返し練習してください。<p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87%E3%81%B8%E3%81%AE%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9-%E5%9F%BA%E6%9C%AC%E7%B7%A8-%E6%B2%B3%E5%90%88%E5%A1%BE%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E8%8D%92%E5%B7%9D-%E4%B9%85%E5%BF%97/dp/4777213587/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87%E3%81%B8%E3%81%AE%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9&qid=1623813405&sr=8-1">入試現代文へのアクセス[基本編]</a><p>
  <p>河合塾から出版されている入試現代文へのアクセスシリーズの中で最も簡単な問題集になります。内容的には偏差値40くらいからでも入れる内容になっています。 非常にシンプルな問題集なので勉強しやすいのが特徴です。目安としては「入試漢字マスター1800+」の書き取りABを2周、「ことばはチカラだ！」については2周、「はじめての入試現代文」「はじめての[次の]入試現代文」をそれぞれ3,4周以上した段階で始めてください。ある程度基礎を固めた段階で取り組むと、より文章への理解を深めることができると思います。</p>
  <p>入試現代文へのアクセス[基本編]のおすすめの勉強法：</p>
  <p>①まずは問題集に直接書き込みをせず、本文のコピーをとってください。自力で本文を読んで、内容を把握し、設問を解いてください。その際「はじめての入試現代文」で学んだ現代文の解き方を活かして問題に取り組んでください。というのも、理論だけ学んでも実践で活かすことができないため、何度も実践の中で使い、解き方に慣れていく必要があるからです。そのため、設問を解く際は、新しく学んだ解き方を意識しながら進めていきます。また、制限時間を意識せずじっくりと取り組んでください。</p>
  <p>②解き終えたら本文の内容を確認します。一旦、本文の内容を簡単に100〜200字程度で要約してください。そこで、本文の解説と自分の読みがずれていないかチェックしてみましょう。また、本文で読めていなかった箇所はおそらく語彙不足が原因である場合が多いため、語句の意味についても確認してください。</p>
  <p>③設問の解説を見ながら解答をチェックします。ただ正解か不正か確認するだけでなく、なぜその答えになったのか、自分の解答の筋道が正しかったのか、解説と照らし合わせ、正しい解答までのプロセスをしっかりと把握し、文章中にある解答の根拠をコピーに書き込みます。</p>
  <p>※ 本書に掲載されている使い方を参考にしています。</p>
  <p>復習方法は新しく本文のコピーをとって、まっさらな問題を解いてみるといいと思います。基本的には①〜③を繰り返す形で大丈夫です。2回目に解く際は、解説で学んだ解答までのプロセスを正しく再現できているかを確認します。再現が難しかった場合は、その設問の解説を読み、解答までの道筋を自分で自分なりの言葉で説明してください。再び、その問題に出会った際には必ず間違えないようにする思いで、取り組むことをお勧めします。</p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E7%8F%BE%E4%BB%A3%E6%96%87%E8%AA%AD%E8%A7%A3%E5%8A%9B%E3%81%AE%E9%96%8B%E7%99%BA%E8%AC%9B%E5%BA%A7-%E9%A7%BF%E5%8F%B0%E5%8F%97%E9%A8%93%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E9%9C%9C-%E6%A0%84/dp/4796114327/ref=pd_lpo_14_img_1/357-4471349-0871017?_encoding=UTF8&pd_rd_i=4796114327&pd_rd_r=014c4ee9-ad14-4bbc-8cbb-667e07b6fe03&pd_rd_w=GH1Jf&pd_rd_wg=ztfxM&pf_rd_p=cc043046-48af-4a56-a049-b4a889070edc&pf_rd_r=NRB1C591T4MPDH6WJHSQ&psc=1&refRID=NRB1C591T4MPDH6WJHSQ">現代文読解力開発講座</a></p>
  <p>入試現代文へのアクセス[基本編]の次に使ってもらいたい参考書は現代文読解力の開発講座になります。この参考書は読者が論理的に文章を読み進めていき、筆者が伝えたいことを正確に捉えられるようにすることを目的に作られています。そのため、要旨をまとめる読解力開発問題が収録されています。文章や問題の難易度は高いのですが、解説を読み込めば読み込むほど文章の整理の仕方がうまくなります。解説自体の何度も難しいので、「ことばはチカラだ！」を3周、「入試現代文へのアクセス[基本編]」を2周した段階でこの参考書に挑戦すれば、問題なく進められるのではないかと思います。</p>
  <p>現代文読解力の開発講座の勉強法：</p>
  <p>基本的には入試現代文へのアクセス[基本編]と同じ勉強法で大丈夫です。最初の本文のコピーをとって、自力で解いていきます。その際に「はじめての入試現代文」で学んだ解き方を意識しながら解いてください。解き終えた際に入試現代文へのアクセス[基本編]では要約していたのですが、現代文読解力の開発講座では設問に要約の問題があり、問題を解く際にやっていると思うので、やらなくて大丈夫です。解説をしっかりと読み込んで文章の構造を把握し、設問の解説を見ながら、コピーに解答の根拠等を書き込むといいでしょう。また、解答までの正しい道筋を自分で説明できるようにしてください。復習方法については入試現代文へのアクセス[基本編]を参考にしていただければと思います。</p>
  <p>※ この参考書は何度も取り組むことで、読解力や文章を整理する力を強化することができる参考書です。1周しただけでは不十分なので、せめて3周することをお勧めします。</p>
  <hr>
  <p><a href="https://www.amazon.co.jp/%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87%E3%81%B8%E3%81%AE%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9-%E7%99%BA%E5%B1%95%E7%B7%A8-%E6%B2%B3%E5%90%88%E5%A1%BE%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E8%8D%92%E5%B7%9D-%E4%B9%85%E5%BF%97/dp/4777213595/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E5%85%A5%E8%A9%A6%E7%8F%BE%E4%BB%A3%E6%96%87%E3%81%B8%E3%81%AE%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9&qid=1623823828&s=books&sr=1-2">
  入試現代文へのアクセス[発展編]</a></p>
  <p>河合塾から出版されている入試現代文へのアクセスシリーズの発展編になります。基本編と大きな違いはないのですが、文章の要約まで載っているのが本書の特徴となっています。そのため、現代文読解力の開発講座で学んだ要約をここで活かすことができます。難易度的には現代文読解力の開発講座よりは簡単です。しかし、要約問題にも挑戦する必要があるので、事前に「現代文読解力の開発講座」を3周しておく必要があるでしょう。</p>
  <p>入試現代文へのアクセス[発展編]の勉強法：</p>
  <p>基本的には入試現代文へのアクセス[基本編]と変わりません。最初は自力で本文を読んで、設問を解く際は「はじめての入試現代文」の解き方を参考にして解いていきます。問題を解き終わった後は、要約をします。この際、現代文読解の開発講座で学んだ知識を活かせるといいでしょう。解説の後ろに要約の解答がついているので、そちらと照らし合わせて、自分が本文を読めたかチェックしましょう。もし、違うようであれば、もう一度本文に戻り、内容を確認してください。解説に本文の解説もついているので、そちらも参考にしながら、本文を正確に理解しましょう。本文の内容が十分に理解できたら、設問の解説を見て、解答までの筋道を後で自分で説明できるようにしてください。この際、本文のコピーをとって、文章中にある解答の根拠に線を引いたり、メモを書き残したりして、解答までの筋道をわかるような形にすると良いでしょう。場所が良ければ、自分で説明する際は声に出して、現代文の講師になったつもりで解説するのもお勧めです。</p>
  <p>※ 復習方法については入試現代文へのアクセス[基本編]を参照してください。</p>
  <p class="sub-title">おわりに</p>
  <p>いかがだったでしょうか。必要最低限の参考書で現代文のルートを組んでみました。最初から練習問題を解くのではなく、ある程度、知識と解き方を身につけた上で取り組むので、現代文が苦手な人でも挫折しにくい構成になっているかと思います。今回紹介させていただいた勉強法は必ずしも正しいというわけではないので、あわないと感じたら自分にあった勉強法を模索してみてください。</p>
  <p>この記事が少しでも参考になれば幸いです。
  最後まで読んでいただきありがとうございました。</p>



</div>
</div>