/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-color: #f7f7f7;
}

.profile-context {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}

.profile-line {
  width: 20%;
  border: 1px solid #a58837;
}

.top-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 25px;
  color: #7b7b7b;
}

.date {
  font-size: 13px;
  color: #7b7b7b;
  // margin-top: 60px;
  margin-bottom: 10px;
}

.sub-title {
  font-weight: bold;
}
